@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blur: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: "KHTeka Medium";
    font-display: swap;
    src: url("./fonts/KHTeka-Medium.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: "KHInterference Light";
    font-display: swap;
    src: url("./fonts/KHInterferenceTRIAL-Light.otf") format("opentype");
    font-style: light;
  }

  .font-khteka {
    @apply text-[40px];
    @apply tracking-neg-2p;
    @apply font-khteka-medium;
  }
  .font-KHInterference {
    @apply text-[400px];
    @apply tracking-neg-4p;
    @apply font-khinterference-light;
  }
}

.blur-anim {
  filter: blur(var(--blur));
}
