@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: "KHTeka Medium";
    font-display: swap;
    src: url("./fonts/KHTeka-Medium.woff2") format("woff2");
    font-style: normal;
  }

  .body-40 {
    @apply text-[40px];
    @apply tracking-neg-2p;
    @apply font-khteka-medium;
  }
}

.font-khteka {
  @apply tracking-neg-2p;
  @apply font-khteka-medium;
}
